*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#078080 ;

}
h1{
    font-family: Libertinus Sans, Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}
header h3{
    text-align: center;
    color: beige;
    margin-top: 0%;
}
.library-container{
    height: 650px;
    width: 1450px;
    background-color: beige;
    border-radius: 10px;
    margin-left: 45px;
    margin-top: 25px;
}
#addBookBtn{
    margin-top: 20px;
    margin-left: 95%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: aliceblue;
    font-size: 30px;
    border: none;
    cursor: pointer;
    background-color: #078080;
    font-weight: bolder;
}
#book-form h3{
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
#bookDialog{
    background-color:#f9f4ef;
    height: 420px;
    width: 450px;
    margin-top: 25vh;
    margin-left: 35vw;
}
#book-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
/* #book-form label{
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
     width: 95%;   /* almost full width inside form */
    /* height: 40px; /* more height */
    /* padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}  */
.form-heading{
    height: 4rem;
    width: 100%;
    background-color: #078080;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Libertinus sans,Arial;
}
label {

  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}
input[type="text"],
input[type="number"] {
  height: 40px;
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
.checkbox-wrapper{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.bookSubmit, #cancelbtn{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    font-family: Libertinus sans,Arial;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

}
.bookSubmit:hover, #cancelbtn:hover{
    background-color: #fbdd74;
    border: 1px solid black;
}
button:pressed{
    margin: 0;
}
.libraryShelf{
    width: 90%;
    height: 220px;
    margin: 40px auto;
    padding: 10px;
    background-color: #e6d3a3;
    border: 10px solid #5a3a1a;
    border-radius: 6px;
    display: flex;
    align-items: center;
    position: relative;
    
}
.bookHolder{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    border: 3px solid rgb(74,26,26);
    background-color: #f5deb3;
}

.book{
    width: 50px;
    height: 170px;
    background: linear-gradient(to right, #065f5f,#0a8c8c);
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow:
    inset 4px 0 8px rgba(0,0,0,0.4),
    3px 5px 10px rgba(0,0,0,0.3);
    border-radius: 4px 4px;
    transition: transform 0.3s ease;
    position: relative;
}
.book::before{
    content: "";
    position:absolute;
    width: 6px;
    height: 90%;
    left: 4px;
    top: 5%;
    border-radius: 4px;
    background: rgba(255,255,255,0.2);
}
.book:hover{
    transform: translateY(-5px) rotate(-2deg);
}
.title{
    margin-bottom: 6px;
    font-size: 0.8rem;

}
.author{
    font-size: 0.7rem;
    opacity: 0.8;
    color: wheat;
}
.delete{
    margin-top: 15px;
    width: 20px;
    height: 20px;
    background-image: url(./icons8-delete-16.png);
}
.spine {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.cover {
    position: relative;
    inset: 0;
    color: black;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: rotateY(90deg);
    transform-origin: left;
    transform-style: preserve-3d;
    display: flex;
    gap: 5px;
    transition: all 0.5s ease;
    z-index: 2;
    backface-visibility: hidden;
}
.book.open {
    width: 220px;   /* expands from spine to cover */
    height: 250px;

    writing-mode: horizontal-tb; /* reset text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.book.open .spine {
    opacity: 0;
}
.book.open .cover {
    opacity: 1;
    transform: rotateY(0deg);
}
.comment{
    border: 1px solid black;
    padding: 5px;
}
.toggle-read{
   background-color: black; 
   color: white;
   padding: 5px;
   border-radius: 20px;
}